<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="HADAdatabase_FINAL" connectionString="data source=(LocalDB)\v11.0;AttachDBFilename=|DataDirectory|\HADAdatabase_FINAL.mdf;Connect Timeout=10;"
      providerName="System.Data.SqlClient" />
    <add name="HADAdatabase" connectionString="data source=(LocalDB)\v11.0;AttachDBFilename=|DataDirectory|\HADAdatabase_FINAL.mdf;Connect Timeout=10;"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\HADAdatabase_FINAL.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>